@use "variables" as v;

/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: v.$fuenteSecundaria;
    font-size: 1.6rem;
    background-color: v.$cafeClaro;
}
p{
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 2;
}
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}